# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv/
env/
dist/
build/
*.egg-info/
.eggs/

# IDEs
.vscode/
.idea/

# Mac
.DS_Store

# Project Specific (Artifacts from make install)
rnnoise_src/
librnnoise.dylib
models/
output/
downloads/
